.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  padding: 10px;
  z-index: 5;
  margin: 0 auto;
  max-width: 900px;
  height: 600px;
}
.grid-item {
  background-color: rgb(240,240,240);
  color: rgb(15,15,15);
  font-size: 22px;
  text-align: center;
  padding: 20px;
  margin: 5px;
  border-radius: 6px;
  cursor: pointer; /* CHANGE MOUSE APPEARANCE ON HOVER */
  z-index: 4;
  width: 80px;
  height: 80px;
}
.grid-item:hover {
  font-size: 22px;
  text-align: center;
  padding: 20px;
  margin: 5px;
  box-shadow: 0 0 5px grey;
  border-radius: 6px;
  z-index: 4;
}
.done {
  color: #764ba2 !important;
  font-weight: bold;
  box-shadow: 0 0 5px #764ba2;
}
.done:hover {
  color: #764ba2 !important;
  font-weight: bold;
  box-shadow: 0 0 10px #764ba2;
}
