.full-screen-banner {
  height: 580px;
  font-weight: 700;
  position: relative;
  z-index: 3;
}
.flex-container {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  width: 75vw;
  margin: 0 auto;
}
.banner-headings {
  text-align: right;
  margin: 0;
}
#main-heading {
  font-family: 'Cerebri Bold';
  font-size: 48px;
  letter-spacing: 0.05rem;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 80px;
  margin-bottom: 20px;
}
#main-subheading-1 {
  font-family: 'Cerebri Regular';
  font-size: 30px;
  letter-spacing: 0.32rem;
  font-weight: 700;
  margin-bottom: 20px;
}
#main-subheading-2 {
  font-family: 'Cerebri Regular';
  font-size: 30px;
  letter-spacing: 0.12rem;
  font-weight: 400;
}

/* DIV WHICH CONTAINS IMAGE */
.banner-img {
  height: 500px;
  width: 700px;
  z-index: 2;
}
/* ACTUALL IMAGE (of the laptop) */
.banner-img img {
  width: 650px;
  margin-left: 40px;
}
