body {
  margin: 0 auto;
  background-color: rgb(250, 250, 250);
  color: #11263F;
}

.poly-background {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 60%);
  width: 100%;
  height: 205%;
  -webkit-clip-path: polygon(100% 0, 100% 25%, 100% 48%, 70% 48%, 43% 19%, 43% 0);
  clip-path: polygon(100% 0, 100% 25%, 100% 82%, 70% 48%, 43% 19%, 43% 0);
  position: absolute;
  overflow: visible;
  z-index: 1;
  top: 0;
  /*-webkit-border-radius: 10px;*/
  /*-moz-border-radius: 10px;*/
  /*border-radius: 10px;*/
}
