/* ALTERNATIVE COLORING (yellow / purple) */

.yellow-bg {
  background: #FFD303;
  color: #11263F;
}
.grey-bg {
  background: #11263F;
  color: #FFD303;
}
.yellow-bg {
  background: #FFD303;
  color: #11263F;
}
.grey-bg {
  background: #11263F;
  color: #FFD303;
}
