@font-face {
  font-family: 'Cerebri Regular';
  src: url('cerebrisans/cerebrisans-regular.woff') format('woff');
}
@font-face {
  font-family: 'Cerebri Book';
  src: url('cerebrisans/cerebrisans-book.woff') format('woff');
}
@font-face {
  font-family: 'Cerebri Medium';
  src: url('cerebrisans/cerebrisans-medium.woff') format('woff');
}
@font-face {
  font-family: 'Cerebri Semibold';
  src: url('cerebrisans/cerebrisans-semibold.woff') format('woff');
}
@font-face {
  font-family: 'Cerebri Bold';
  src: url('cerebrisans/cerebrisans-bold.woff') format('woff');
}
