body {
  margin: 0 auto;
  background-color: rgb(250, 250, 250);
  color: #11263F;
  font-family: 'Cerebri Regular';
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
.center {
  text-align: center;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
